* {
    box-sizing: border-box;
    transition: 0.3s all ease-in-out; 
    scroll-behavior:smooth;
    font-family: 'Poppins', sans-serif;
  }
  
body{
    background: url("./images/darkbg.jpg") repeat;
    position: relative;
    background-size:contain;
}

.header {
  padding: 20%;
  page-break-after: always;
}
.nav-item {
  font-size: large;
  font-weight: bold;
}

.nav-link:hover, .navbar-brand:hover{
  color: rgb(0, 238, 255) !important;
  font-size: large;
  text-decoration: underline;
}

.fonts{
  font-size: xx-large !important;
  font-weight: bold;
}

.purple{
  color: rgb(0, 238, 255);
  text-shadow:
  0 0 5px rgb(177, 175, 175);
  font-weight: bold;
}
.heading{
  font-family: 'Lora', serif;
}

.heading:hover{
  color: rgb(168, 216, 219);
  text-shadow:
  0 0 5px rgb(150, 147, 147);
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 45px;
  right: 30px;
  z-index: 99;
  font-size: 25px;
  border: none;
  outline: none;
  background-color: #010307;
  color: white;
  cursor: pointer;
  padding: 5px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #5383d3;
}

.fade-in{
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.fade-in.appear{
  opacity: 1;
}

.from-left {
  transform: translateX(-50%);
}

.from-right {
  transform: translateX(50%);
}

.from-left,.from-right{
  transition: 
  opacity 250ms ease-in,
  transform 400ms ease-in;
  opacity: 0;
}


.from-left.appear,.from-right.appear{
  transform: translateX(0);
  opacity: 1;
}

.big{
  position: absolute;
  color: rgba(255, 255, 255, 0.1);
  font-size: 4vw;
  z-index: -1;
  font-weight: bolder;
  
}

hr{
  width: 80%;
  margin: 18px auto 24px auto;
  border-color: rgba(248, 247, 247, 0.1);
}

.center{
  position: relative;
  top: 35vh;
  padding-bottom: 50rem;
  line-height: 2.5;
  display: inline-block;
  vertical-align: middle;
}

.gif {
	position: relative;
  top: 8vh;
  left: 35vh;
padding-bottom:30%;
}

.second {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #98B3C6;
}

.links {
 text-decoration: none;
  letter-spacing: 1.5rem;
  font-size: larger;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: none;
}
div > a {
  display: inline-block;
}


.info{
  color: rgb(156, 155, 155);
  font-size: large;
}


.highlight{
  color: whitesmoke;
  font-weight: bold;
}
.contact{
  list-style: none;
  line-height: 2.2;
}
.arrow{
  text-align: center;
}

section .top {
  height: 100em;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .gif{
    display: none;
  }
  .footer-nav {
    display: none !important;
  }
  .smaller {
    font-family: 'Lora', serif;
  }
  .big{
    font-size: 15vw;
    color: rgba(255, 255, 255, 0.2);

  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .big{
    font-size: 6vw;
    color: rgba(255, 255, 255, 0.2);

  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

.css-typing h1 {
  border-right: .15em solid white;
  white-space: nowrap;
  overflow: hidden;
}


.css-typing h1 {
  width: 7.5em;
    opacity: 0;
  -webkit-animation: type2 2s steps(40, end);
  animation: type2 2s steps(40, end);
   -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}


.css-typing h1:nth-child(2) {
  width: 9.2em;

  -webkit-animation: type2 2s steps(40, end);
  animation: type2 2s steps(40, end);
  
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid white;
  }
  100% {
    border: none;
  }
}

@-webkit-keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid white;
  }
  100% {
    border: none;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 0;
  }
  99.9% {
    border-right: .15em solid white;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@-webkit-keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 0;
  }
  99.9% {
    border-right: .15em solid white;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@-webkit-keyframes blink {
  50% {
    border-color: tranparent;
  }
}
